<ion-view view-title="Admin" name="dashboard-view">
  <ion-content class="padding">
      <center><h3>Este é o local dos Administradores!</center></h3>
      <br><br><br>
      <button class="button button-full button-positive" ng-click="performValidRequest()" >
        Wod Diário
      </button>
      <button class="button button-full button-positive icon-left" ng-click="performValidRequest()">
        <ion-icon ios="ios-person-add" md="md-person-add"></ion-icon>Cadastre um Aluno
      </button>
      <button class="button button-full button-positive" ng-click="performValidRequest()">
        Atualize/Exclua um cadastro
      </button>

  </ion-content>
</ion-view>
