<ion-view view-title="Home" name="dashboard-view">
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-log-out button-stable" ng-click="logout()">Logout</button>
  </ion-nav-buttons>
 
  <ion-content class="padding">
    <div class="row"><div class="col text-center">
      <h3 class="title">Bem vindo(a) {{username}}!</h3>
      Esta é sua pagina inicial.
      <br><br><br>
      <button class="button button-full button-dark" ng-click="performValidRequest()">
        Marque sua Aula
      </button>
      <button class="button button-full button-dark" ng-click="performValidRequest()">
        Anotações Pessoais
      </button>

      <br><br>
      {{response}}
    </div></div>
  </ion-content>
</ion-view>
