<ion-view view-title="Wod" name="dashboard-view">
  <ion-content class="padding">
      <center>
        <h3>Wod Diário</h3><br>
        For time:<br>
        50 box jumps, 24-inch box<br>
        50 jumping pull-ups<br>
        50 kettlebell swings, 1 pood <br>
        50 walking-lunge steps<br>
        50 knees-to-elbows<br>
        50 push presses, 45 lb.<br>
        50 back extensions<br>
        50 wall-ball shots, 20-lb. ball<br>
        50 burpees<br>
        50 double-unders<br>
      </center>
  </ion-content>
</ion-view>
